<div th:fragment="sidebar" class="sidebar" id="sidebar">
    <div class="sidebar-items">
        <div class="sidebar-item">
            <a href="/dataflows">
                <span class="material-symbols-outlined">desktop_windows</span>
                <span class="sidebar-text">Visualization</span>
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/documentation">
                <span class="material-symbols-outlined">description</span>
                <span class="sidebar-text">Documentation</span>
            </a>
        </div>
    </div>
</div>